# Google Gemini API Key
# Get your key from: https://aistudio.google.com/apikey
GEMINI_API_KEY="Your Gemini Key"

# Backend API URL for GitHub Codespaces
NEXT_PUBLIC_API_URL="Next Public Key"
LIVEKIT_URL="Your livekit URL"
LIVEKIT_API_KEY="Your livekit API key"
LIVEKIT_API_SECRET="Your livekit secrit key"
NEXT_PUBLIC_SUPABASE_URL="Your supabase public url"
NEXT_PUBLIC_SUPABASE_ANON_KEY="Your Supabase Anon Key"
